:root {
  --color-primary: #ffa45b;
  --color-secondary: #39311d;
}

@tailwind base;

@tailwind components;

html,
body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: white;
}

@tailwind utilities;
